extends layout.pug

block content
  div.grid.grid--404
    div.col
      h1.page-header There doesn't appear to be anything here
      p.t-center
        a(href="javascript:history.back()") Turn back
        span &nbsp;&bull;&nbsp;
        a(href="/") Go Home
