extends layout.pug

block content
  h1.page-header About Me
  div.grid
    div.col.md-up-4.sidebar
      h3 Stats
      dl
        dt Name
        dd Sophie Orta
        dt Likes
        dd Video games, tabletop games, space, sci-fi, fantasy, airplanes, camping, birds, skiing, soccer, tennis, ice cream
        dt Dislikes
        dd Bananas, bagels, brie cheese
        dt Favorite Movie
        dd Jurassic Park
        dt Favorite Video Game
        dd Final Fantasy 6
        dt Favorite anime
        dd Evangelion
        dt Favorite pie
        dd Key lime
        dt Harry Potter House
        dd Hufflepuff
        dt Is a hot dog a sandwich?
        dd No
    div.col.md-up-8
      h3 Growing up
      p I grew up in Miami, Florida, USA in the 80s and 90s. And ever since I was young I had a fascination with technology. I would spend hours playing with (and sometimes breaking) anything with buttons. And we were lucky enough to have a computer in our home, since my parents ran a small business. Ostensibly it was for taxes and such, but to me it was a wonder machine with many games and infinite possibilities. Sure, I played a lot of SimCity and Carmen Sandiego. But I also printed out birthday cards, wrote book reports, and occasionally I even did a little BASIC programming.
      p I was a teenager when we first got an internet connection via AOL. And it wasn't long before I made a website of my own on Geocities about my favorite anime at the time (Slayers). Unfortunately, I don't have any record of what the URL was, but I think given the time period and subject matter, you can pretty much imagine what it was like.
      h3 Now
      p Currently I'm a Web Developer in Portland, Oregon, USA. I live with my partner and our 2 retired racing greyhounds. My favorite way to spend my free time is playing video and tabletop games. But I also really enjoy camping, skiing, soccer, and tennis.
