extends layout.pug

block content
  div.hero.hero--landing
    div.hero__content
      h1 Your Design, Beautifully Executed
      p I am a full-stack developer with a passion for front-end development.
