extends layout.pug

block content
  div.hero.hero--landing
    div.hero__content
      h1 Your Design, Beautifully Executed
      h4 I am a full-stack developer with a passion for front-end development.
  div.hero.hero--html
    div.hero__content.grid
      h2.hero__heading Me
      p I've learned a lot in my 5 years as a professional web developer. In that time, I've worked on API integrations, custom Content Management Systems, data migrations, and many responsive layouts. But I also recognize that there is still (and probably always will be) things for me to learn and improve upon. I love learning, so this actually works wout well for me. One of my main goals as a developer is to always strive for continuous improvement.

      p But skills aren't all that I have going for me. I also have a passion for web development in general, and front-end development in particular. I care very much about the quality of things that I build. I regularly read articles to help myself stay current. And I have done presentations at company meetings on subjects like: CSS Preprocessors, Flexbox, Workflow &amp; Automation, and most recently Progressive Web Apps.

  div.hero.hero--contact
    div.hero__content.grid
      h2.hero__heading Connect
      div.connect-link-container
        a(href="https://www.linkedin.com/in/sorta" title="LinkedIn" target="_blank").connect-link
          img(src="/static/images/icons/linkedin.svg" alt="LinkedIn").connect-link__image

        a(href="https://github.com/sorta" title="Github" target="_blank").connect-link
          img(src="/static/images/icons/github.svg" alt="Github").connect-link__image

        a(href="mailto:orta.sophie@gmail.com" title="Email").connect-link
          img(src="/static/images/icons/mail.svg" alt="Email").connect-link__image
