//// Utils ////
.clr:after {
  content: "";
  display: block;
  clear: both;
}

.w-auto { width: auto; }

.p-0 { padding: 0; }

.t-left { text-align: left; text-align-last: left; }
.t-center { text-align: center; text-align-last: center; }
.t-right { text-align: right; text-align-last: right; }

.f-left { float: left; }
.f-right { float: right; }

.bg-dark-grey { background-color: $dark-grey; }
.bg-yellow { background-color: $yellow; }
