//// Variables ////

// Fonts
$base-font-size: 112.5%;
$max-font-size: 137.5%;
$base-font-stack: 'Roboto', Helvetica, sans-serif;
$heading-font-stack: 'Scope One', Palatino, serif;

// Colors
$dark-grey: #505050;
$yellow: #e4bf05;
$white: #ffffff;
$red: #e63905;
$fuchsia: #e605d3;
$blue: #0588e6;

// Sizes
$pad1: .5rem;
$pad2: 1rem;
$pad3: 2rem;

// Grid
$grid-max-width: 1200px;
$grid-col-count: 12;
