//// Mixins ////

//// Variables ////

// Fonts
$base-font-size: 100%;
$base-font-stack: 'Roboto', sans-serif;
$heading-font-stack: 'Scope One', serif;

// Colors
$dark-grey: #505050;
$yellow: #e4bf05;
$white: #ffffff;

//// Base ////
:root {
  font-size: $base-font-size;
  font-family: $base-font-stack;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-stack;
  font-weight: 400;
}

*, *:after, *:before {
  box-sizing: border-box;
}

//// Layout ////

// header
.header-main {
  background-color: $dark-grey;
}
