//// Mixins ////

// Media Queries
// Breakpoint queries based on https://medium.freecodecamp.com/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862
@mixin for-extra-small-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-small-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-small-only {
  @media (min-width: 600px) and (max-width: 899px) { @content; }
}
@mixin for-medium-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-medium-only {
  @media (min-width: 900px) and (max-width: 1199px) { @content; }
}
@mixin for-large-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-large-only {
  @media (min-width: 1200px) and (max-width: 1799px) { @content; }
}
@mixin for-extra-large-up {
  @media (min-width: 1800px) { @content; }
}

//// Variables ////

// Fonts
$base-font-size: 112.5%;
$max-font-size: 137.5%;
$base-font-stack: 'Roboto', Helvetica, sans-serif;
$heading-font-stack: 'Scope One', Palatino, serif;

// Colors
$dark-grey: #505050;
$yellow: #e4bf05;
$white: #ffffff;
$red: #e63905;
$fuchsia: #e605d3;
$blue: #0588e6;

// Sizes
$pad1: .5rem;
$pad2: 1rem;
$pad3: 2rem;

// Grid
$grid-max-width: 1200px;
$grid-col-count: 12;

//// Base ////
:root,
html {
  font-size: $base-font-size;
  font-family: $base-font-stack;
  color: $dark-grey;

  @include for-small-up {
    font-size: calc(18px + (22 - 18) * ((100vw - 600px)/(1200 - 600)))
  }

  @include for-large-up {
    font-size: $max-font-size;
  }
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: $yellow;
}

.body-container {
  min-height: 100vh;

  @supports (display: flex) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
  }
}

*, *:after, *:before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-stack;
  font-weight: 400;
  margin-top: 0;
}

h1 {
  font-size: 3.6rem;
  margin-bottom: 2.1rem;
}

h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
}

h5 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

h6 {
  font-size: .85rem;
  margin-bottom: .85rem;
}

a {
  color: inherit;
  font-weight: 700;
  text-decoration: none;
}

p {
  margin-top: 0;
  text-align: left;

  @supports (text-align-last: left) {
    text-align: justify;
    text-align-last: left;
    text-align-last: start;
  }
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: $pad1;
}

.btn,
button,
input[type="button"],
input[type="submit"] {
  background-color: $dark-grey;
  color: $yellow;
  display: block;
  padding: $pad1 $pad2;
  border: none;
  border-radius: $pad1;

  &.inline { display: inline-block; }
  &.yellow {
    background-color: $yellow;
    color: $dark-grey;
  }
}

//// Layout ////

// header
.header-main {
  background-color: $dark-grey;
  top: 0;
  left: 0;
  right: 0;
}

.content-main {
  flex: 1 1 auto;
}

.footer-main {
  background-color: $dark-grey;
  color: $yellow;
  padding: $pad1 $pad2;

  border-top: 1px solid $yellow;
}

.footer__link {
  float: right;
}

// Grid
.grid {
  width: 100%;
  max-width: $grid-max-width;
  margin-left: auto;
  margin-right: auto;
}

.grid:after {
  content: "";
  display: block;
  clear: both;
}

.col {
  display: block;
  float: left;
  padding: $pad2;
  width: 100%;
}

// Column widths
@for $i from 1 through $grid-col-count {
  .xs-up-#{$i} {
    width: $i / $grid-col-count * 100%;
  }

  @include for-small-up {
    .sm-up-#{$i} {
      width: $i / $grid-col-count * 100%;
    }
  }

  @include for-medium-up {
    .md-up-#{$i} {
      width: $i / $grid-col-count * 100%;
    }
  }

  @include for-large-up {
    .lg-up-#{$i} {
      width: $i / $grid-col-count * 100%;
    }
  }

  @include for-extra-large-up {
    .xl-up-#{$i} {
      width: $i / $grid-col-count * 100%;
    }
  }
}

// Auto widths
.xs-up-auto {
  width: auto;
}

@include for-small-up {
  .sm-up-auto {
    width: auto;
  }
}

@include for-medium-up {
  .md-up-auto {
    width: auto;
  }
}

@include for-large-up {
  .lg-up-auto {
    width: auto;
  }
}

@include for-extra-large-up {
  .xl-up-auto {
    width: auto;
  }
}

//// Modules ////

// Logo
.logo {
  display: inline-block;
  // float: left;
  padding: $pad1 $pad2;
}

.logo__img,
.logo__text {
  float: left;
}

.logo__img {
  width: 4rem;
  margin-right: $pad1;

  > svg {
    max-width: 88px;
    max-height: 88px;
  }
}

.logo__name,
.logo__title {
  font-family: $heading-font-stack;
  // color: $white;
  color: $yellow;
  line-height: 1.2;
}

.logo__name {
  font-size: 2rem;
}

.logo__title {
  font-size: 1.5rem;
  font-weight: 400;
}

// Hero
.hero {
  width: 100%;
  padding: ($pad2 * 4) $pad2;
  text-align: center;

  @supports (display: flex) {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
  }

  background-color: $yellow;
  color: $dark-grey;
}

.hero:nth-of-type(2n) {
  background-color: $dark-grey;
  color: $yellow;
}

.hero--landing
{
  font-weight: 700;

  h1, h4 {
    font-weight: 700;
  }
}

.hero__content {
  width: auto;
  display: inline-block;
  // text-align: left;

  @supports (display: flex) {
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: center;
    align-items: stretch;
    flex: 1 1 auto;
  }
}

// .hero__heading {
//   text-align: center;
// }

// Connect Link
.connect-link-container {
  text-align: center;
}

.connect-link {
  display: inline-block;
  margin: 0 $pad2;
  min-width: 3rem;
  cursor: pointer;
}

.connect-link__image {
  width: 100%;
  height: auto;
}

.page-header {
  text-align: center;
  margin-top: 2.1rem;
}

// Sidebar
.sidebar {
  background-color: $dark-grey;
  color: $yellow;
  padding: $pad2;
  float: right;

  @include for-medium-up {
    border-radius: $pad3;
    border: $pad2 solid $yellow;
    margin-top: -$pad2;
  }
}

// Nav
.nav-container {
  text-align: center;
  padding: 0;

  @include for-small-up {
    float: right;
  }
}

.nav {
  // float: right;
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 1.6136rem 0;
  color: $yellow;

  font-family: $heading-font-stack;
  font-size: 2rem;

  @include for-small-up {
    margin-bottom: 0;
  }
}

.nav__item {
  display: inline-block;
  margin-right: $pad2;
  margin-left: $pad2;
}

.nav__item-link {
  &.active {
    text-decoration: underline;
  }
}

// Work

.manager__header {
  margin-top: $pad2;
}

.project__header {
  margin-bottom: 0;
}

.project__image {
  border: 2px solid $dark-grey;
}

//// Utils ////
.clr:after {
  content: "";
  display: block;
  clear: both;
}

.w-auto { width: auto; }

.p-0 { padding: 0; }

.t-left { text-align: left; }
.t-center { text-align: center; }
.t-right { text-align: right; }

.f-left { float: left; }
.f-right { float: right; }

.bg-dark-grey { background-color: $dark-grey; }
.bg-yellow { background-color: $yellow; }
